.w980 {
    width:980px;
}
.w1230 {
	width:1230px;
}	
.ft24 {
	font-size:24px;
}
.ft14 {
	font-size:14px;
}
.ftAcme {
	font-family:'acme';
}
.ftBold {
	font-weight:bold;
}
.mb20 {
	margin-bottom:20px;
}